//WooCommerce notices
.woo_notices {
    padding-top: 0;
    padding-bottom: 0;
}
.woocommerce-notices-wrapper, .woocommerce-NoticeGroup {
    .woocommerce-message, .woocommerce-error {
        display: flex;
        justify-content: flex-start;
        padding: $padding-md;
        align-items: center;
        border: 1px solid $green;
        border-radius: $border-radius-xxs;
        box-shadow: 3px 3px 0 0 $green;
        color: $text-color;
        @media(max-with: $desktop){
            flex-direction: column;
        }
        a {
            margin-right: $margin-sm;
        }
        &:after {
            display: none;
        }
        .close_notice {
            display: flex;
            width: 24px;
            height: 24px;
            padding: 7px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 100px;
            margin-left: auto;
            .close {
                content:url('../svg/close.svg');
                height: 100%;
                width: 100%;
            }
        }
        &::before {
            color: $green;
            position: relative;
            top: 0;
            left: 0;
            margin-right: $margin-md;
        }
    }
    .woocommerce-message {
        background-color: white;
        a {
            text-decoration: underline;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .woocommerce-error {
        box-shadow: 3px 3px 0 0 $red;
        border: 1px solid $red;
        background: white;
        ul {
            padding: 0px;
            margin: 0px;
            // li {
            //     color: white;
            // }
        }
        a {
            margin-left: auto;
        }
        &::before {
            color: $red;
        }
    }
    a {
        // margin-left: auto;
        margin-right: 0px;
        margin-bottom: auto;
        text-decoration: none;
        .step_back_btn {
            border-color: white;
            color: white;
        }
    }
}
