* {
    font-family: $font-family !important;
}


h1,h2,h3,h4,h5,h6,
p, a, ul, li,
input, textarea, label {
    position: relative;
    font-family: $font-family !important;
    margin-top: 0;
    letter-spacing: 0.42px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-heading !important;
    color: $heading-color;
    line-height: 1;
    margin-bottom: $margin-md;
}

p, a, ul, li{
    color: $text-color;
    line-height: $line-height;
}

h1 {
    font-size: $font-xxxxxl;
    font-weight: 800;
}

h2 {
    font-size: $font-xxxxl;
}

h3 {
    font-size: $font-xxxl;
}

h4 {
    font-size: $font-xxl;
}

h5 {
    font-size: $font-xl;
}

h6 {
    font-size: $font-lg;
}

p {
    margin-bottom: $margin-lg;
}

a {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    transition: all $main-transition;
}

ul {
    display: block;
    list-style-type: none;
    align-items: center;
    margin-top: 0;
    padding-left: $padding-lg;
    li {
        position: relative;
        line-height: 1.8;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            left: -$margin-md;
            height: 6px;
            width: 6px;
            background-color: black;
            margin-right: $margin-sm;
            border-radius: 50%;
        }
    }
}
ol {
    display: block;
    margin-top: 0;
    li {
        position: relative;
        line-height: 1.8;
    }
}

// form {
//     .component {
//         display: initial !important;
//     }
// }


.btn-shopping-bag,
.btn-account {
    position: relative;
    svg {
        height: 24px;
        width: 29px;
    }
    .cart-contents {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .btn-shopping-bag {
        cursor: pointer;
    }
    .cart-contents-count {
        position: absolute;
        display: flex !important;
        align-items: center;
        justify-content: center;
        top: 16px;
        left: 32px;
        padding: 6px;
        border-radius: 50%;
        aspect-ratio: 1;
        line-height: 0;
        background: $yellow;
        color: white;
        font-size: $font-sm;
    }
    &:hover {
        text-decoration: underline;
    }
}

.woo-products-wrapper {
    .container {
        .row {
            .woo-products {
                display: flex;
                gap: $gap-lg;
            }
        }
    }
}


.product__card {
    position: relative;
    box-shadow: $box-shadow;
    border-radius: $border-radius-xxs;
    overflow: hidden;
    border: 1px solid #EFEFEF;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.15);
    background: white;
    transition: all $main-transition;
    &:hover {
        box-shadow: 6px 6px 0 0 rgb(227 154 63);
    }
    .onsale {
        visibility: hidden;
    }
    .card__info {
        min-height: 141px;
        padding: 24px;
        a {
            text-decoration: none;
        }
        .info__heading {
            font-size: $font-lg;
            display: inline-flex;
            color: #2F2F2F;
        }
        .info__description {
            margin-bottom: $margin-lg;
        }
        .card__footer {
            display: flex;
            justify-content: space-between;
            position: relative;
            .card__price {
                display: flex;
                align-items: flex-end;
                gap: $gap-sm;
                margin: 0;
                line-height: 1;
                span {
                    font-size: $font-md;
                    color: #8F8F8F;
                }
                [aria-hidden='true'] {
                    position: absolute;
                    height: 0;
                    overflow: hidden;
                }
                .amount {
                    font-weight: bolder;
                    font-size: $font-xl;
                    color: #1E4058;
                }
                .woocommerce-price-suffix {
                    color: #B0B0B0;
                }
            }
            .footer__buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $gap-md;
                .btn-secondary {
                    padding: 6px;
                    background: none;
                    border: none;
                    svg {
                        height: 20px;
                    }
                }
                .btn-primary-icon {
                    aspect-ratio: 1;
                    height: 32px;
                    padding: 5px;
                    // width: 20px;
                    background-color: $yellow;
                    &:hover {
                        background-color: $primary-color;
                    }

                    svg {
                        transform: rotate(90deg) translateX(0);
                        margin-right: initial;
                        height: 9px;
                        width: 22px;
                    }

                }

            }
        }
    }
}




.price {
    .woocommerce-Price-currencySymbol {
        display: none;
    }
    del {
       opacity: 0.5;
    }
    ins {
        font-size: $font-xxxl;
        font-weight: 700;
        text-decoration: none;
    }
}

.woocommerce .quantity, .quantity {
    position: relative;
    display: flex;
    align-items: center;
    input.qty {
        appearance: none;
        border-radius: solid 1px $primary-color;
        border-radius: 0px;
        text-align: left;
        min-width: 70px;
        width: 70px;
        border: solid 1px;
        height: 44px;
        padding: 0px 10px;
    }
}

.single_product_outer .product {
    .qnty_add {
        display: grid;
        grid-template-rows: 50% 50%;
        .qnty-button {
            background: #f2f2f2;
            color: black;
            font-weight: 200;
            font-size: 20px;
            padding: 0px;
            width: 40px;
            border-radius: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.plus {
                background-color: #dfdfdf;
            }
        }
    }
}

.onsale {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    line-height: 1 !important;
    font-weight: normal !important;
    font-size: $font !important;
    color: white;
    padding: $padding-sm $padding-md !important;
    background: $primary-color !important;
    border-radius: $border-radius-xxs 0 $border-radius-xxs 0 !important;
    z-index: 99;
    min-height: initial !important;
    min-width: initial !important;
}

.header__cart, .header__account {
    a {
        height: 100%;
        margin: $margin-md;
        background-color: $primary-color;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 100px;
    }
    svg {
        color: white;
        height: 50%;
    }
    .cart__count {
        position: absolute;
        background-color: $secondary-color;
        color: white;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -10px;
        font-weight: 600;
        font-size: $font-xs;
        border-radius: 100px;
    }
}

.woocommerce ul li::before, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice)::before {
    display: none;
}


.ordering_woocommerce {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .woocommerce-notices-wrapper {
        width: 100%;
    }
    .orderby {
       color: #000;
       padding: $padding-sm;
       border-radius: 0px;
    //    font-size: $font-root;
    }
}

.woo_notices {
    // margin-top: $margin-lg;
    padding: 0px;
}

.products {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gap-lg;
    }
}

sup {
    display: inline-flex;
    font-size: 0.8rem;
    transform: translateX(-4px);
}

