form {
    .form-col,
    .wpcf7-response-output {
        position: relative;
        label {
            position: absolute;
            left: 16px;
            top: 15px;
            transition: all 0.25s ease-in-out;
            color: gray;
            background: white;
        }
        label,
        input,
        textarea {
            font-family: $font-family;
            font-size: 16px;
            transition: all 0.2s;
            touch-action: manipulation;
        }
        input,
        textarea {
            width: 100%;
            border: 0px;
            cursor: text;
            border: 1px solid #e5e5e5;
            &:focus {
                outline: 0;
            }
            &::placeholder {
                color: gray;
            }
        }
        input {
            height: 50px;
            padding-left: $padding-md;
            &:nth-of-type() {
                margin-bottom: 0;
            }
        }
        textarea {
            height: 200px;
            padding: $padding-sm $padding-md;
        }
        [type="text"],
        [type="email"],
        [type="tel"],
        textarea {
            width: 100%;
            &:focus {
                border-color: $primary-color;
            }
        }
        label.focused {
            top: -12px;
            transform: none;
            transition: all 0.2s ease;
            color: $primary-color;
            padding: 0 8px;
            transform: translateX(-4px);
        }
        [type="submit"] {
            position: relative;
            background: $primary-color;
            color: white;
            height: 50px;
            max-width: 170px;
            cursor: pointer;
            &:hover {
                background-color: $secondary-color;
            }
        }
        input[type='checkbox'] {
            -webkit-appearance: none;
            -moz-appearance: none;
                    appearance: none;
            outline: none;
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #E4E6E4;
            overflow: hidden;
            cursor: pointer;
            padding:0 0.6rem !important;
            font-size: inherit !important;
            margin: 0 0 $margin-sm;
            margin-right: $margin-sm;
            &::before {
                content: '';
                position: absolute;
                top: 2px;
                right: 2px;
                bottom: 2px;
                left: 2px;
                background-color: transparent;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 2px;
                -webkit-transform: scale(0);
                        transform: scale(0);
                -webkit-transition: -webkit-transform 0.25s ease-in-out;
                transition: -webkit-transform 0.25s ease-in-out;
                transition: transform 0.25s ease-in-out;
                background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ0OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCA0NDggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZD0iTTQxNy43NSAxNDEuNWMwIDYuMjUtMi41IDEyLjUtNyAxN2wtMjE1IDIxNWMtNC41IDQuNS0xMC43NSA3LTE3IDdzLTEyLjUtMi41LTE3LTdsLTEyNC41LTEyNC41Yy00LjUtNC41LTctMTAuNzUtNy0xN3MyLjUtMTIuNSA3LTE3bDM0LTM0YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsNzMuNSA3My43NSAxNjQtMTY0LjI1YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsMzQgMzRjNC41IDQuNSA3IDEwLjc1IDcgMTd6Ij48L3BhdGg+Cjwvc3ZnPgo=");
            }
            &:checked::before {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
            
        .wpcf7-not-valid-tip {
            position: absolute;
            top: -8px;
            bottom: 100%;
            right: 16px;
            font-size: $font-sm;
            color: red;
            background: white;
            padding: 0 4px;
            height: fit-content;
            transform: translateX(-4px);
        }
    }
}
.invalid {
    .wpcf7-response-output {
        margin-top: $margin-lg;
        margin-bottom: 0;
        color: red;
        border: 1px solid red;
        padding: $padding-sm $padding-md;
    }
    input[type=checkbox] {
        border-color: $red !important;
    }
}

.form-submit-col {
    position: relative;
}

.form-with-animated-labels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .form-row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        @media(max-width: $tablet){
            flex-direction: column;
            .form-col {
                flex: 1 1 auto !important;
            }
        }
        .form-col {
            flex: 1 1 auto;
            .wpcf7-list-item {
                display: flex;
                align-items: center;
                input {
                    width: fit-content;
                    cursor: pointer;
                    margin-right: $margin-sm;
                }
                .wpcf7-list-item-label {
                    color: $primary-color;
                    font-size: 13px;
                }
            }
        }
    }
    .form-row-address {
        .form-col {
            &:nth-child(2) {
                flex: 0 1 20%;
            }
            &:nth-child(3) {
                flex: 1 1 auto;
            }
        }
    }
    .form-row-submit {
        margin-bottom: -32px;
        gap: 0;
        .form-col {
            flex: 100%;
            height: 100%;
            label {
                position: inherit;
            }
            input {
                margin: 0;
            }
            &:nth-child(1) {
                flex: 0 1 68%;
            }
            &:nth-child(2) {
                flex: 1 1 160px;
            }
            @media(max-width: $tablet){
                &:nth-child(2) {
                    flex: 1 1 auto;
                    margin-top: $margin-md;
                }
            }
        }
    }
    .form-row-group {
        background: #fdfdfd;
        border: 1px solid #E4E6E5;
        padding: $padding-md;
        flex-flow: wrap;
        flex-direction: column;
        row-gap: 0;
        p {
            margin-bottom: $margin-md;
        }
        .form-col {
            flex: 1 1 auto;
            margin-bottom: $margin-lg;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
    .form-row-last {
        display: flex;
        justify-content: space-between;
        .form-col {
            flex: initial;
            label {
                display: flex;
                left: 0;
            }
        }
        .form-acceptance-col {
            flex: 1 1 68%;
        }
        .submit-col-btn {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-image: url('/wp-content/themes/bureauhanze/assets/svg/chevron.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 12px;
                width: 12px;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 9;
            }
            input[type=submit] {
                position: relative;
                display: block;
                margin-left: auto;
                border-radius: 5px;
                padding-left: $padding-lg;
                padding-right: $padding-md;

            }
            @media(max-width: $tablet){
                flex-direction: column;
                input[type=submit] {
                    margin-left: 0;
                    margin-top: 48px;
                }
            }
            @media(max-width: $mobile){
                input[type=submit] {
                    max-width: 100%;
                }
            }
        }

        .wpcf7-not-valid-tip {
            top: -12px;
            left: 0;
        }
    }
}

.screen-reader-response {
    ul {
        display: none;
    }
}