* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
p, a, ul, li,
input, textarea, label {
    position: relative;
    font-family: $font-family !important;
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    line-height: 1;
    margin-bottom: $margin-md;
}

p, a, ul, li{
    color: $text-color;
    line-height: $line-height;
}

h1 {
    font-size: $font-xxxxxl;
}

h2 {
    font-size: $font-xxxxl;
}

h3 {
    font-size: $font-xxxl;
}

h4 {
    font-size: $font-xxl;
}

h5 {
    font-size: $font-xl;
}

h6 {
    font-size: $font-lg;
}

p {
    margin-bottom: 15px;
}

a {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    transition: all $main-transition;
}

ul {
    display: block;
    list-style-type: none;
    align-items: center;
    margin-top: 0;
    padding-left: $padding-lg;
    li {
        position: relative;
        line-height: 1.8;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            left: -$margin-md;
            height: 6px;
            width: 6px;
            background-color: black;
            margin-right: $margin-sm;
            border-radius: 50%;
        }
    }
}
ol {
    display: block;
    margin-top: 0;
    li {
        position: relative;
        line-height: 1.8;
    }
}

.container {
    padding: $padding-lg;
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    @media(min-width: calc($container-width)) {
        padding: $padding-lg;
    }
    @media(max-width: $desktop-xl) {
        padding: $padding-lg $padding-md;
    }
    @media(max-width: $tablet) {
        padding: $padding-md;
    }
    .row {
        position: relative;
        width: 100%;
    }
}

img,
svg {
    display: block;
    height: 100%;
    width: 100%;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page {
    position: relative;
}