.header {
    position: relative;
    width: 100%;
    .header__top {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        transition: height $main-transition;
        z-index: 96;
        background: white;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
            .header__logo {
                height: 56px;
                margin: 0;
                padding-top: 4px;
                padding-bottom: 4px;
                transition: height $main-transition;
                // @media(max-width: $mobile){
                //     display: none;
                // }
                svg {
                    .logo {
                        fill: #2F4B5D;
                    }
                }
            }
            .header__logo-mobile {
                display: flex;
                // @media(min-width: $mobile){
                //     display: none;
                // }
            }
            #nav--open {
                visibility: visible;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 48px;
                width: 48px;
                gap: 4px;
                flex-direction: column;
                cursor: pointer;
                span {
                    width: 24px;
                    height: 3px;
                    background: $text-color;
                    transition: all $main-transition;
                }
                &:hover {
                    gap: 0px;
                    span {
                        &:nth-child(1) {
                            transform: rotate(45deg);
                            width: 12px;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                            width: 12px;
                        }
                    }
                }
                // @media(min-width: $tablet){
                //     display: none;
                // }
            }
            .menu-main-container {
                margin-left: auto;
                .menu {
                    display: flex;
                    align-items: center;
                    gap: $gap-xl;
                    margin: 0 $margin-xl 0 0;
                    padding: 0;
                    @media(max-width: $tablet){
                        display: none;
                        gap: $gap-lg;
                    }
                    li {
                        margin: 0;
                        &:before {
                            content: none;
                        }
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            padding-bottom: $padding-lg;
                            &:hover {
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                        .--active {
                            text-decoration: underline;
                        }
                    }
                }
                .menu-item-has-children {
                    position: relative;
                    a {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 7px;
                            right: -20px;
                            margin: auto;
                            height: 12px;
                            width: 12px;
                            background-image: url('/wp-content/themes/bureauhanze/assets/svg/chevron-menu.svg');
                            background-repeat: no-repeat;
                            background-position: center center;
                            transition: all $main-transition;
                            transform: rotate(90deg);
                        }
                    }
                    .sub-menu {
                        display: none;
                    }
                    &:hover {
                        a {
                            &::after {
                                transform: rotate(270deg);
                            }
                        }
                        .sub-menu {
                            position: absolute;
                            display: block;
                            top: 23px;
                            left: 0;
                            width: max-content;
                            margin-top: $margin-md;
                            background: white;
                            padding: 0 $padding-lg;
                            border-radius: 0 0 $border-radius-xxs $border-radius-xxs;
                            li {
                                position: relative;
                                margin-top: $margin-md;
                                margin-bottom: $margin-md;
                                a {
                                    &::after {
                                        content: none;
                                    }
                                    &:hover {
                                        padding-bottom: 5px;
                                    }
                                }
                                .--active {
                                    text-decoration: underline;
                                    padding-bottom: $padding-xs;
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
    .header__img {
        object-fit: cover;
        @media(max-width: $tablet){
            height: 320px;
        }
    }
    // .header__overlay {
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     background: black;
    //     opacity: 0.4;
    // }
    .header__content {
        position: absolute;
        height: fit-content;
        max-width: $container-width;
        top: 88px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        h1 {
            color: white;
        }
        .breadcrumb {
            p {
                display: flex;
                align-items: center;
                gap: 12px;
            }
            a {
                text-decoration: none;
                opacity: 0.7;
                &:hover {
                    text-decoration: underline;
                }
            }
            p, a {
                color: white;
                margin: 0;
                padding: 0;
            }
            svg {
                height: 12px;
                width: 12px;
                opacity: 0.7;
            }
        }
    }
}

// .--sticky {
//     p, a {
//         color: white;
//     }
//     .header__top {
//         top: 0;
//         height: 50px;
//         z-index: 90;
//         box-shadow: $box-shadow;
//         background: $primary-color;
//         color: white;
//         .container {
//             .header__logo {
//                 height: 32px;
//                 transition: height $main-transition;
//                 svg {
//                     .logo{
//                         fill: white;
//                     }
//                 }
//             }
//             #nav--open {
//                 span {
//                     background: white;
//                 }
//             }
//             .menu-main-container {
//                 margin-left: auto;
//                 .menu {
//                     display: flex;
//                     align-items: center;
//                     gap: $gap-xl;
//                     margin: 0 $margin-xl 0 0;
//                     padding: 0;
//                     @media(max-width: $tablet){
//                         display: none;
//                         gap: $gap-lg;
//                     }
//                     li {
//                         margin: 0;
//                         &:before {
//                             content: none;
//                         }
//                         a {
//                             text-decoration: none;
//                             font-weight: bold;
//                             padding-bottom: $padding-lg;
//                             &:hover {
//                                 text-decoration: underline;
//                                 text-underline-position: under;
//                             }
//                         }
//                         .--active {
//                             text-decoration: underline;
//                         }
//                     }
//                 }
//                 .menu-item-has-children {
//                     &:hover {
//                         .sub-menu {
//                             background: $primary-color;
//                         } 
//                     }
//                 }
//             }
//         }
//     }
// }