.nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: $primary-color-d-2;
    transition: width $main-transition;
    z-index: 100;
    overflow: hidden;
    .nav__content {
        position: fixed;
        width: 100%;
        .container {
            padding-left: $padding-lg;
            margin-left: 0;
        }
        .nav__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 $padding-lg;
            margin-bottom: $margin-lg;
            background-color: $primary-color-l-2;
        }
        .nav__links {
            .menu {
                padding-left: 0;
                li {
                    padding: $padding-sm 0;
                    margin-bottom: $margin-md;
                    &::before {
                        content: none;
                    }
                    a {
                        position: relative;
                        text-decoration: none;
                        color: white;
                        &:hover {
                            text-decoration: underline;
                            text-underline-position: under;
                        }
                    }
                    .--active {
                        text-decoration: underline;
                    }
                }

                .sub-menu {
                    padding-left: $padding-md;
                    // display: none;
                    li {
                        margin-bottom: 0;
                    }
                }
            }
            .menu-item-has-children {
                .sub-menu {
                    a {
                        // z-index: 99999 !important;
                        &::after {
                            background-image: none;
                        }
                    }

                }
            }
            .--active {
                a {
                    &::after {
                        transform: rotate(-90deg) !important;
                    }
                }
            }
        }
    }
}
.nav--active {
    width: 400px;
    @media(max-width: $tablet){
        width: 80vw;
    }
    @media(max-width: $mobile){
        width: 95vw;
    }
}
#nav--close {
    font-size: $font-xxl;
    background: no-repeat;
    border: none;
    color: white;
    width: fit-content;
    padding: $padding-md;
    transform: translateX(-16px);
    &:hover {
        transform: translateX(-16px) rotate(90deg);
    }
}