.content {
    .content-with-text {
        display: flex;
        align-items: flex-start;
    }
}

.four-o-four {
    margin-top: 196px;
}

.blog {
    .container {
        .row {
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
            gap: $gap-lg;
            @media(max-width: $tablet){
                grid-template-columns: 1fr;
            }
            .type-blog {
                display: none;
            }
            .show {
                display: inline-block;
            }
        }
        .row__filters {
            display: flex;
            flex-direction: column;
            h2 {
                margin-bottom: 0;
            }
            #blog__filter-buttons {
                display: flex;
                flex-wrap: wrap;
                gap: $gap-md;
                margin-bottom: $margin-lg;
                button {
                    background: white;
                    border: 1px solid $primary-color;
                    color: $text-color;
                    padding: $padding-sm $padding-md;
                    border-radius: $border-radius-xxs;
                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
                .active {
                    background-color: $secondary-color;
                    border-color: $secondary-color;
                    color: white;
                }
            }
        }
        .blog__card {
            border-radius: $border-radius-xxs;
            box-shadow: $box-shadow-md;
            overflow: hidden;
            transition: all $main-transition;
            text-decoration: none;
            &:hover {
                transform: translateY(-3px);
                box-shadow: $box-shadow-lg;
            }
            .card__img {
                aspect-ratio: 4 / 3;
                object-fit: cover;
                height: auto;
            }
            .card__content {
                padding: $padding-lg;
                @media(max-width: $tablet){
                    padding: $padding-md;
                }
            }
        }
    }
}

.single-blog {
    .container {
        display: flex;
        gap: $gap-xl;
        @media(max-width: $tablet){
            flex-direction: column;
            gap: $gap-lg;
        }
        .sidebar {
            .sidebar__content {
                box-shadow: $box-shadow-md;
                padding: $padding-lg;
                border-radius: $border-radius-xxs;
                .content__categories {
                    ul {
                        li {
                            a {
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .contact__paragraph {
                    a {
                        margin-bottom: $margin-sm;
                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
.brands {
    .container {
        .row {
            display: flex;
            .brands__image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img {
                    max-height: 128px;
                    padding: $padding-lg;
                    border-radius: $border-radius-xxs;
                    object-fit: contain;
                }
            }
        }

    }
}

.privacy-statement {
    h2 {
        font-size: $font-xl;
    }
    .main__contact {
        display: inline-flex;
        text-decoration: underline;
    }
}