[id^="acf-group"]  {
    background: none;
    border: none;
}

[id^="acf-group"] .postbox-header {
    border:  none;
    background: none;
    display: none;
}

[id^="acf-group"] #poststuff h2 {
    background: none;
    border: none;
}

[id^="acf-group"] .acf-tab-wrap {
    min-width: 100%;
    background: none;
    border: none;
    padding-top: 20px;
}

[id^="acf-group"] .acf-tab-wrap:first-child {
    border-top: none;
    padding-top: 0px;
}

[id^="acf-group"] .acf-tab-wrap .acf-tab-group {
    border: none;
    background: none;
    padding: 0px;
}

[id^="acf-group"] .acf-tab-wrap .acf-tab-group li a {
    background: #fff;
    border: solid 1px #c2c2c2;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    margin-bottom: 10px;
}

[id^="acf-group"] .acf-fields > .acf-tab-wrap .acf-tab-group li.active a {
    font-weight: 600;
    color: white; 
    border-color: #333875;
    background-color: #2271b1;
}

[id^="acf-group"] .ui-sortable .acf-fields > .acf-field, [id^="acf-group"]  .acf-field {
    transition:all 0.3s;
    padding: 0px;
    background-color: #fff;
    border-radius: 10px;
    min-width: 100%;
    min-height: 0px !important;
    box-shadow: 1px 1px 4px #0000001f;
}

[id^="acf-group"] .layout .acf-fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

[id^="acf-group"] .ui-sortable .acf-fields > .acf-field.one-second, [id^="acf-group"]  .acf-field.one-second {
    flex: 1 1 40%;
    min-width: 10%
}

[id^="acf-group"] .ui-sortable .acf-fields > .acf-field.one-third, [id^="acf-group"]  .acf-field.one-third {
    flex: 1 1 30%;
    min-width: 10%
}

[id^="acf-group"] .ui-sortable .acf-fields > .acf-field.one-fourth, [id^="acf-group"]  .acf-field.one-fourth {
    flex: 1 1 20%;
    min-width: 10%
}

[id^="acf-group"] .ui-sortable .acf-fields > .acf-field.one-eight, [id^="acf-group"]  .acf-field.one-eight {
    flex: 1 1 12.5%;
    min-width: 12.5%
}

[id^="acf-group"] .acf-field:not(:last-child) {
    margin-bottom: 20px;
}

[id^="acf-group"] .acf-field.acf-field-flexible-content {
    background-color: #f8f8f9;
}

[id^="acf-group"] .acf-field.acf-field-flexible-content .layout {
    padding: 15px;
    border: solid 1px #0000002b;
    border-radius: 10px;
    background: #fff;
}

[id^="acf-group"] .acf-field .acf-label {
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #f2f2f2;
    color: #4f5372;
}

[id^="acf-group"] .acf-field .acf-label > label {
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
}
[id^="acf-group"] .acf-field .acf-label > .description {
    padding: 0px 20px 15px 20px;
    margin-top: -10px;
}

[id^="acf-group"] .acf-actions {
    margin-top: 20px;
}

[id^="acf-group"] .acf-actions .button-primary {
    width: 100%;
    text-align: center;
    padding: 6px 20px;
}

[id^="acf-group"] .acf-field .acf-label p {
    color: #a0aec0;
}

[id^="acf-group"] .acf-field .acf-input {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    width: 100%;
}

[id^="acf-group"] .acf-field .acf-input .acf-input-wrap {
    flex: 1;
}

[id^="acf-group"] .acf-field .acf-input .acf-input-prepend {
    display: flex;
    align-items: center;
    max-width: 30px;
}

[id^="acf-group"] .acf-field .acf-input > div {
    flex: auto;
}

[id^="acf-group"] .inside {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

[id^="acf-group"] .acf-fields:after {
    display: none;
}

.acf-field input[type=text], 
.acf-field input[type=password], 
.acf-field input[type=date], 
.acf-field input[type=datetime], 
.acf-field input[type=datetime-local], 
.acf-field input[type=email], 
.acf-field input[type=month], 
.acf-field input[type=number], 
.acf-field input[type=search], 
.acf-field input[type=tel], 
.acf-field input[type=time], 
.acf-field input[type=url], 
.acf-field input[type=week], 
.acf-field textarea, 
.acf-field select  {
    border-color: #d5d5d5;        
    padding: 8px 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
    transition:all 0.3s;
}

.acf-field input[type=text]:focus, 
.acf-field input[type=password]:focus, 
.acf-field input[type=date]:focus, 
.acf-field input[type=datetime]:focus, 
.acf-field input[type=datetime-local]:focus, 
.acf-field input[type=email]:focus, 
.acf-field input[type=month]:focus, 
.acf-field input[type=number]:focus, 
.acf-field input[type=search]:focus, 
.acf-field input[type=tel]:focus, 
.acf-field input[type=time]:focus, 
.acf-field input[type=url]:focus, 
.acf-field input[type=week]:focus, 
.acf-field textarea:focus, 
.acf-field select:focus  {
    border-color: #2271b1;   
    border-width: 2px;
    padding: 7px 9px;
    transition:all 0.3s;
} 

.acf-settings-wrap #poststuff #post-body.columns-2 {
    margin-right: 0px;
}

.acf-settings-wrap #post-body.columns-2 #postbox-container-1 {
    float: none;
    margin-right: 0px;
    width: 100%;
}

.acf-settings-wrap #post-body.columns-2 #postbox-container-1 .postbox-header {
    display: none;
}

.acf-settings-wrap #post-body.columns-2 #postbox-container-1 #side-sortables {
    width: 100%;
    min-height: 0px;
}

.acf-settings-wrap #post-body.columns-2 #postbox-container-1  #major-publishing-actions {
    padding: 0px;
    clear: both;
    border-top: 0px;
    background: none;
    position: absolute;
    right: 0;
    top: -30px;
}

.acf-settings-wrap #post-body.columns-2 #postbox-container-1 .postbox {
    border: none;
    background: none;
    box-shadow: none;
}

.acf-settings-wrap #post-body.columns-2 #postbox-container-1 .postbox input {
    width: 150px;
    padding: 5px;
}

[id^="acf-group"] .layout .acf-fc-layout-handle {
    padding: 5px 0px 15px 0px;
    border: none;
}

[id^="acf-group"] .acf-flexible-content .layout .acf-fc-layout-controls {
    top: 15px;
    right: 15px;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 5px 9px;
}

[id^="acf-group"] .acf-flexible-content .layout .acf-fc-layout-controls * {
    visibility: visible !important;
}

[id^="acf-group"] .acf-field-group .acf-input .acf-fields.-border {
    border: none;
}