.wpcf7-list-item {
    margin: 0;
    input[type="checkbox"] {
        display: inline-flex;
        height: 20px;
        width: 20px;
        margin: 0 $margin-sm 0 0;
    }
}
.wpcf7-not-valid-tip,
.wpcf7-response-output,
.wpcf7-list-item-label {
    font-family: $font-family !important;
}
.wpcf7-list-item-label {
    color: #999999;
}

.wpcf7-submit {
    background-color: $yellow;
    border: none;
    color: black;
    font-weight: bold;
    @media(max-width: $tablet){
        margin-top: $margin-md;
    }
}
.wpcf7-spinner {
    display: none;
}

.wpml-ls-legacy-dropdown {
    width: 106px;
    margin-right: 35px;
    height: 100%;
    a {
        display: block;
        text-decoration: none;
        color: black;
        border: 0;
        background-color: #6b7b91;
        padding: $padding-sm;
        img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            border: 1px solid white;
        }
    }
}