// Globals
$container-width: 1400px;
$font-family: 'Nunito Sans';
$line-height: 1.6;
$main-transition: 0.2s ease;


// Site global variables
$box-shadow: rgba(0, 0, 0, 0.1) 0 8px 48px;
$box-shadow-md: rgba(0, 0, 0, 0.1) 0 8px 32px;
$box-shadow-lg: rgba(0, 0, 0, 0.16) 0 8px 32px;

// Breakpoints
$mobile: 576px;         // Mobile
$tablet: 768px;         // Tablet
$desktop: 992px;        // Desktop
$desktop-xl: 1200px;    // Desktop large
$full-width: 1920px;    // Full width

// Margins
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 32px;
$margin-xl: 64px;

// Paddings
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;
$padding-xl: 64px;

// Gaps
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;

// Border radius
$border-radius-xxxs: 2px;
$border-radius-xxs: 4px;
$border-radius-xxs: 8px;
$border-radius-xs: 12px;
$border-radius: 16px;
$border-radius-lg: 20px;
$border-radius-xl: 24px;
$border-radius-xxl: 28px;
$border-radius-xxxl: 32px;

// Font sizes based on 16px :root font size
$font-xs: 0.625rem;     // 10px
$font-sm: 0.75rem;      // 12px
$font-md: 0.875rem;     // 14px
$font: 1rem;            // 16px
$font-lg: 1.125rem;     // 18px
$font-xl: 1.25rem;      // 20px
$font-xxl: 1.5rem;      // 24px
$font-xxxl: 1.75rem;    // 28px
$font-xxxxl: 2rem;      // 32px
$font-xxxxxl: 2.25rem;     // 48px


// Colors
$primary-color: #2F4B5D;
$primary-color-d-2: darken($primary-color, 4%);
$primary-color-d-4: darken($primary-color, 8%);
$primary-color-d-6: darken($primary-color, 12%);
$primary-color-d-8: darken($primary-color, 16%);
$primary-color-d-10: darken($primary-color, 20%);

$primary-color-l-2: lighten($primary-color, 4%);
$primary-color-l-4: lighten($primary-color, 8%);
$primary-color-l-6: lighten($primary-color, 12%);
$primary-color-l-8: lighten($primary-color, 16%);
$primary-color-l-10: lighten($primary-color, 20%);

$secondary-color: #E39A3F;
$secondary-color-d-2: darken($secondary-color, 4%);
$secondary-color-d-4: darken($secondary-color, 8%);
$secondary-color-d-6: darken($secondary-color, 12%);
$secondary-color-d-8: darken($secondary-color, 16%);
$secondary-color-d-10: darken($secondary-color, 20%);

$secondary-color-l-2: lighten($secondary-color, 4%);
$secondary-color-l-4: lighten($secondary-color, 8%);
$secondary-color-l-6: lighten($secondary-color, 12%);
$secondary-color-l-8: lighten($secondary-color, 16%);
$secondary-color-l-10: lighten($secondary-color, 20%);

$secondary-color-2: #069946;
$secondary-color-2-d-2: darken($secondary-color-2, 4%);
$secondary-color-2-d-4: darken($secondary-color-2, 8%);
$secondary-color-2-d-6: darken($secondary-color-2, 12%);
$secondary-color-2-d-8: darken($secondary-color-2, 16%);
$secondary-color-2-d-10: darken($secondary-color-2, 20%);

$secondary-color-2-l-2: lighten($secondary-color-2, 4%);
$secondary-color-2-l-4: lighten($secondary-color-2, 8%);
$secondary-color-2-l-6: lighten($secondary-color-2, 12%);
$secondary-color-2-l-8: lighten($secondary-color-2, 16%);
$secondary-color-2-l-10: lighten($secondary-color-2, 20%);

$heading-color: #1F3F58;
$text-color: #2F2F2F;

$red: #E73743;
$yellow: #FECC04;